frontend/node_modules/
frontend/public/
analysis/debugev.py

*.db
*.joblib

venv/

checkfiles.py
debugdb.py
driftdebug.py
report.py

report_output.json
package-lock.json

backend/__pycache__

.vscode/
